<!-- quiz.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <button id="startQuizBtn">Start Quiz</button>
    <form action="/submit" method="POST" id="quizForm" style="display: none;">
        <% questions.forEach((question, index) => { %>
            <div class="question" id="question<%= index %>">
                <h2><%= index + 1 %>. <%= question.question %></h2>
                <% question.options.forEach((option) => { %>
                    <label>
                        <input type="radio" name="answer<%= index %>" value="<%= option %>">
                        <%= option %>
                    </label><br>
                <% }) %>
            </div>
        <% }) %>
        <button type="submit">Submit Quiz</button>
    </form>

    <script>
        document.getElementById('startQuizBtn').addEventListener('click', function() {
            document.getElementById('startQuizBtn').style.display = 'none';
            document.getElementById('quizForm').style.display = 'block';
        });
    </script>
</body>
</html>
